<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> 发现在保存时:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :用户名 %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :邮箱 %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit '保存' %>
  </div>
<% end %>
