<%= form_for(micropost) do |f| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> 在保存时发现:</h2>

      <ul>
      <% micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :内容 %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :用户 %>
    <%= f.number_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit "保存" %>
  </div>
<% end %>
